# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node
node_modules/
npm-debug.log*

# React
/build
/.env
/public/.env

# Firebase
.firebase/
.firebaserc
firebase-debug.log
firestore.indexes.json
firestore.rules

# VS Code
.vscode/

# OS
.DS_Store

qartexperiment1-firebase-adminsdk-fbsvc-800e7fc19f.json
# Local Netlify folder
.netlify
# .gitignore
.env
.env.*

# Netlify build output
_site/

# Node stuff inside experiments
experiments/*/node_modules/
experiments/*/dist/
experiments/*/build/
.env

# ignore local-only root files
/package.json
/package-lock.json
/check-env.js
/netlify.toml
